
// Guest main
main{
    background-color: white;
}

.home_section{
    background-color: #2E6DF1;
}

.big__title{
    color: #68D681;
    font-size: 4rem;
    font-weight: 700;
    padding-bottom: 1.5rem;
}

.medium__title{
    font-size: 1.8rem;
}